* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(251, 197, 49);
}

ul, li, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 10px;
}

.result-container {
  /* max-width: 600px; */
  min-height: 85px;
  /* max-height: 300px; */
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #FFFFFF;
  color: rgb(72, 126, 176);
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  overflow: auto;
  /* text-align: center; */
  /* word-break: break-all; */
  /* letter-spacing: 1px; */
}

.result-container--form {
  min-width: 500px;
  max-width: 600px;
  margin: 0 auto 10px;
}

.result-container--info .result-box {
  width: 150px;
  padding: 5px 20px;
  margin: 0 0 0 auto;
  border-color: transparent;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.button-container .button,
.button-container .result-box {
  margin: 20px 0 0 10px;
  /* margin-right: 10px; */
}

.button-container .button:last-of-type {
  /* margin-right: 0; */
}

.button {
  display: block;
  /* width: fit-content; */
  margin: 50px auto 0;
  padding: 10px 50px;
  border-radius: 5px;
  border: 1px solid rgb(72, 126, 176);
  color: rgb(72, 126, 176);
  background: transparent;
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: .25s ease;
}

.button:hover {
  color: #FFFFFF;
  background: rgb(72, 126, 176);
  transition: .25s ease;
}

.button:disabled {
  cursor: auto;
  opacity: .5;
}

.input-text {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(72, 126, 176);
  background: transparent;
  color: rgb(72, 126, 176);
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  outline: none;
}

label {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
  color: rgb(72, 126, 176);
  cursor: pointer;
}

label {
  text-transform: uppercase;
}

label input {
  display: block;
  width: 100%;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 15px;
}

.label-checkbox input {
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.task-container {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(72, 126, 176);
  background: #FFFFFF;
  color: rgb(72, 126, 176);
  font-size: 15px;
  line-height: 15px;
}

.task-container.important {
  border: 1px solid #DC143C;
  color: #DC143C;
}

.result-box {
  /* display: inline-block; */
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(72, 126, 176);
  background: #FFFFFF;
  color: rgb(72, 126, 176);
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  text-transform: uppercase;
  outline: none;
  /* cursor: pointer; */
}

.result-box:last-of-type {
  margin-bottom: 0;
  /* border-bottom-color: transparent; */
}

.result-box h2 {
  letter-spacing: 1px;
  text-align: center;
}

.result-box p {
  text-transform: none;
  text-align: center;
  font-weight: 300;
  padding: 15px 0 5px;
}

.result-box img.avatar {
  display: block;
  width: 150px;
  height: 150px;
  margin: 20px auto 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  transform: rotate(-360deg);
  transition: .25s ease;
}

.result-box img.avatar:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  transform: rotate(360deg);
  transition: .25s ease;
}

.result-box__selected {
  border-bottom: 1px solid rgb(72, 126, 176);
  background: rgb(72, 126, 176);
  color: #FFFFFF;
}

.transparent {
  opacity: .5;
}

.title-container {
  font-size: 35px;
  font-weight: 800;
  line-height: 40px;
  color: rgb(72, 126, 176);
}

.wrong-validation {
  width: fit-content;
  padding: 5px 10px;
  background: red;
  border-radius: 5px;
  color:#FFFFFF;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: .5px;
}